:root {
  --primary-color: #71caf3;
  --third-color: #ffb703;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  letter-spacing: 4px;
}

.container {
  padding: clamp(0.5rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  gap: 20px;
}


button {
  cursor: pointer;
  font-weight: 900;
  color: white;
  background-color: var(--third-color);
  border-radius: 5px;
  border: none;
  padding: clamp(0.7rem, 2vw, 1rem);
}
input {
  border: none;
  font-size: 1.1rem;
  /* border-radius: 5px; */
  border-bottom: 1px solid var(--third-color);
  outline: none;
}

/* icons */
.icon-check{
  width: 10px;
  height: 10px;
  background-color: #ffb703;
  color: var(--primary-color);
}

.icon{
  color: var(--primary-color);
  font-size: 15px;
  transition: .3s;
  opacity: .8;
  margin-left: 1rem;
}

.icon:hover{
  opacity: 1;
  cursor: pointer;
 color: red;
}





.task-list{
    margin-top: 1em;
    width: min-content;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    & div{
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      overflow:auto;
    }
}
/* .task::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100%;
  background: var(--primary-color);
  text-align: center;
  cursor: pointer;
} */

.task {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
 
}


@media (min-width: 768px){
  .task-list{
    width: 50%; 
}
}
